table {
  font-size: large;
}

<<<<<<< HEAD
td,
th {
=======
td, th {
>>>>>>> f6bc836ecf1ea62ad69479646c4519b718d6c587
  border: 1px solid #dddddd;
  text-align: left;
  padding: 16px;
  height: 48px;
}

tr:nth-child(even) {
  background-color: #dddddd;
<<<<<<< HEAD
}
=======
}
>>>>>>> f6bc836ecf1ea62ad69479646c4519b718d6c587
